@using OnlineTicariOtomasyon.Models.Siniflar
@model List<KargoDetay>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Kargolar</h2>
<br />
@using (Html.BeginForm("Index", "Kargo", FormMethod.Get))
{
    <p>
        Kargo Takip No: @Html.TextBox("p")
        <input type="submit" value="Ara" class="btn btn-danger" />
    </p>
}

<table class="table table-bordered " style="margin-top:20px;">

    <tr>
        <th>PERSONEL</th>
        <th>ALICI</th>
        <th>TARİH</th>
        <th>TAKİP KODU</th>
        <th>İŞLEM</th>
    </tr>
    @foreach (var k in Model)
    {
        <tr>
            <td>@k.Personel</td>
            <td>@k.Alici</td>
            <td>@k.Tarih</td>
            <td>@k.TakipKodu</td>
            <td>
                <a href="/Kargo/KargoTakip/@k.TakipKodu" class="btn btn-info">Detay</a>
            </td>
        </tr>
    }
</table>

<a href="/Kargo/YeniKargo" class="btn btn-primary">Kargo Ekle</a>